/*===================================
=            BASE STYLES            =
===================================*/

a{
  color: @color-link;
}

nav a{
  color: @color-link--nav;
}

a,
ul{
  margin: 0;
  padding:0;
}
