/*=========================================
=            TYPOGRAPHY STYLES            =
=========================================*/




html{
  font-size: 10px;
}



body{

  font-family: @font--primary;
  .bg-img("airplanes-bg.png");
  background-repeat: repeat;
  font-size: 1.8rem; 
  padding: 5rem 0;
  line-height: @line-height;
}

nav a{
  font-family:@font--secondary;
  font-size: 1.6rem;
}