/*=========================================
=            TYPOGRAPHY STYLES            =
=========================================*/


html{
  font-size: @font-base;
}



body{

  font-family: @font--primary;
  .bg-img("site-bg.jpg");
  background-repeat: repeat;
  font-size: 1.8rem; 
  padding: 5rem 0;
  line-height: @line-height;
}

h2{
  font-size: 4.8rem;
}



nav a{
  font-family:@font--secondary;
  font-size: 1.6rem;
}