/*=====================================
=            FOOTER STYLES            =
=====================================*/

.footer{
  &:extend(.page-container);
  &:extend(.main-content);
  margin: 3rem auto;
  padding: 3em 0;
  &:extend(.Text-center);

  .wrapper:first-child{
    padding: 0 10em;
  }
}

.footer__page-links{
  &:extend(.Flex);
  &:extend(.Center-margin);
  &:extend(.Flex-wrap);
  justify-content: space-between;
  font-smooth: never;
  li{
    display: inline-block;
    &not(:last-child){
      margin-right: 1.3em;  
    }
    a{
      font-weight: @font-weight--bold;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


.footer__sponsor-links{
  &:extend(.footer__page-links  all);
  justify-content: center;
  max-width: 40em;
  li{
    flex-basis: 10em;
  }
}

.admin-footer{
  &:extend(.page-container);
  // background-color: fadeOut(@color-body, 10%);
  padding: 1rem 0;
  &__links{
    &:extend(.footer__page-links  all);
    justify-content: space-between;
    max-width: 30em;
    li:last-child{
      &:before{
        content: 'Powered By';
        font-size: 0.6em;
        margin-right: 0.5em;
      }
    }
    li a{
      font-weight: @font-weight--regular;
      }

    }
  }



/*=====  End of FOOTER STYLES  ======*/
