/*===================================
=            MAIN CONTENT STYLES            =
===================================*/

.intro{
  border-bottom: 0.1rem solid @color-section--underline;
  padding: 1.5em 0;
}

.article-title{
  color: @color-title; 
}


.main-content__container{
  &:extend(.flex);
  padding: 2.7em 0;
}


.main-content{
  &:extend(.flex);
  flex-direction: column;
  flex-basis: 100%;
}

.intro{
  height: 50vh;
  width: 100;
  background-color: red;
}

.feature-article{
  height: 50vh;
  background-color: yellow;
}
/*=====  End of MAIN CONTENT STYLES  ======*/
