/*===================================
=            MAIN CONTENT STYLES            =
===================================*/

.intro{
  border-bottom: 0.1rem solid @color-section--underline;
  padding: 1.5em 0;
}

.article__title{
  color: @color-title; 
}


.main-content__container{
  .Flex;
  padding: 2.7em 0;
}


.main-content{
  .Flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 1rem;
  padding-left: 5rem;

  &__unstyled-list{
  list-style-type: none;
  a{
    color: @color-text--highlight;
  }
}

  h2{
    font-size: 1.8rem;
  }
}

.intro{
  h1{
    font-size: 1.8rem;
  }

}

.feature-article{
  h2{
    color:@color-title;
  }

  img.feauture{
    shape-outside:circle();
    width: 30rem;
    float: left;
    padding-right: 5rem;

  }
}


/*=====  End of MAIN CONTENT STYLES  ======*/
