/*=============================================
=            PAGE CONTAINER STYLES            =
=============================================*/
.page-container{
  width: 77%;
  &:extend(.Center-margin);
  background: @color-body;
}

.wrapper{
  padding: 0 5rem;
}
