/*=============================================
=            PAGE CONTAINER STYLES            =
=============================================*/
#page-container{
  width: 77%;
  .center-margin;
  background: @color-body;
}

.wrapper{
  padding: 0 5rem;
}
