/*=======================================
=            COLOR VARIABLES            =
=======================================*/
@tundora       :#444;
@limedSpruce   :#242544;
@dustyGray      :#989898;
@white         :#fff;
@mariner       :#5B5C71;
@curiousBlue   :#3498db;
@frenchPass    :#85C8FF;
@tallPoppy     :#fc535b;
@cinnabar      :#e74c3c;
@froly         :#F57A80;  
@rumSwizzle    :#f7f3dd;






/*===========================================
=            BASE FONT VARIABLES            =
===========================================*/

@font--primary    : 'Raleway', sans-serif;
@font--secondary  : 'Open Sans', sans-serif;

@font-base        : 10px;

@line-height      :27px;


@font-weight--regular   : 400;
@font-weight--semi-bold : 600; 
@font-weight--bold      : 700; 

@color-link--nav             :@white;
@color-body                  :@white;
@color-text--light           :@white;

@color-text--dark            :@tundora;
@color-section--underline    :tint(@tundora, 80%);
@color-text--highlight       :@curiousBlue;

@color-nav-bg                :@tallPoppy;
@color-title                 :@tallPoppy;
@color-button                 :@tallPoppy;

@color-nav--bottom-border    :@tallPoppy;

@color-link                  :@frenchPass;
@color-nav--hover            :@limedSpruce;  
@color-nav--dropdown-hover   :@cinnabar;

@color-social--icon          :@froly;       
@color-social--bg            :@rumSwizzle;       

/*======================================
=            PATH VARIABLES            =
======================================*/
@img-path: "../../assets/images/";

